<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated servicelevelobjective -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.servicelevelobjective.presentation.ServicelevelObjectiveModelWizardID"
            name="%_UI_ServicelevelObjectiveModelWizard_label"
            class="org.palladiosimulator.servicelevelobjective.presentation.ServicelevelObjectiveModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ServicelevelObjectiveModelFile.gif">
         <description>%_UI_ServicelevelObjectiveModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated servicelevelobjective -->
      <editor
            id="org.palladiosimulator.servicelevelobjective.presentation.ServicelevelObjectiveEditorID"
            name="%_UI_ServicelevelObjectiveEditor_label"
            icon="icons/full/obj16/ServicelevelObjectiveModelFile.gif"
            extensions="slo"
            class="org.palladiosimulator.servicelevelobjective.presentation.ServicelevelObjectiveEditor"
            contributorClass="org.palladiosimulator.servicelevelobjective.presentation.ServicelevelObjectiveActionBarContributor">
      </editor>
   </extension>

</plugin>
